body{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

.box{
    box-sizing: 50%;
    width: 400px;
    height: default;
    margin: 20px;
    background-color: rgb(224, 84, 84);
    display: block;
    justify-content: center;
}